* {
    margin: 0px;
    padding: 0px;
}

#mount_logo {
    /* height: 90px;
    margin-left: 300px;
    margin-top: -2px; */
    position: relative;
    height: 80px;
    left: 300px;
    top: 5px;
    border: none;
    border-radius: 200%;
    padding: 0px;
}

#mount_logo1 {
    position: relative;
    height: 80px;
    left: 300px;
    top: -95px;
    border: none;
    border-radius: 200%;
    padding: 0px;
}

.head li a {
    position: relative;
    left: 850px;
    margin: 0px 0px 30px 30px;
    top: 10px;
}

.head1 {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.head1 li a {
    position: relative;
    left: 850px;
    margin: 0px 0px 30px 30px;
    top: -80px;
}

.head {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}



.images {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* border: none; */
    /* Remove any borders */
    margin: 0;
}

#image1 {
    position: relative;
    z-index: -1;
    height: 500px;

}

#image2 {
    position: relative;
    top: -200px;
    z-index: 1;
    height: 360px;
    border: none;
    margin-bottom: -150px;

}

h1 {
    color: black;
    z-index: 0;
    font-size: 8em;
    position: absolute;
    left: 400px;
    top: 320px;

}

.losan {
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    left: 380px;
    top: 720px;
}

.images1 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border: none;
}

#image3 {
    position: relative;
    height: 500px;
    z-index: -1;
}


#image4 {
    position: relative;
    height: 400px;
    z-index: 1;
    /* border: none; */
    top: -200px;
}

.history {
    position: absolute;
    top: 129px;
}

.sp {
    position: absolute;
    top: 190px;
    left: 535px;
    font-size: 2em;
    font-weight: 600;
}

.lorem {
    position: absolute;
    top: 260px;
    word-wrap: break-word;
    width: 260px;
    left: 450px;
    z-index: 0;
}



.fourpic {
    display: flex;
    position: absolute;
    top: 1350px;
    width: 1520px;
    height: 100px;
    z-index: 20;
    background-color: rgb(86, 86, 87);
    opacity: 0.6;
}

.image5 {
    margin: 0px 5px;
    height: 100px;
    position: relative;
    left: 400px;
    border: none;
}

.newco {
    display: flex;
    position: absolute;
    left: 100px;
    top: -30px;

}

.loremw {
    word-wrap: break-word;
    width: 500px;
    position: absolute;
    left: 700px;
    top: -50px;
}

.head3 {
    position: absolute;
    top: -100px;
}

.climb {
    position: absolute;
    left: 536px;
    top: -35px;
    font-size: 2em;
    font-weight: 700;
}

.sec4 {
    height: 600px;
    background-color: rgb(197, 198, 212);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -180px;

}

.mount {
    position: relative;
    left: 350px;
    top: 33px;
    margin: 0px 4px;
}

.mountain1 {
    background-color: rgba(141, 143, 148, 0.817);
}

.last img {
    margin-top: 21px;
    width: 100vw;
    height: 70vh;

}

.last_1 {
    height: 100px;

    width: 400px;
}

.head5 {
    font-size: 3em;
    position: absolute;
    top: 100px;
    left: 400px;
    background-color: rgb(243, 246, 249);
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
    opacity: 0.4;

}



.menu span {
    position: relative;
    top: -300px;
    left: 470px;
    margin: 0px 20px;
}

.menu1 {

    position: relative;
    top: -60px;
    left: 10px;
}

.menu2 {
    position: relative;
    top: -60px;
    left: 10px;
}

.menu3 {
    position: relative;
    top: -10px;
    left: 10px;
}

.menu4 {
    position: relative;
    top: 10px;
    left: 10px;
}

.lasthai img {
    height: 80px;
    position: absolute;
    top: 2110px;
    border-radius: 200px;
    left: 400px;

}

.lost {
    position: absolute;
    top: 2140px;
    left: 510px;
    width: 110px;
    word-wrap: break-word;
}

.para {
    position: absolute;
    top: 2150px;
    left: 1000px;
}